# Turso https://turso.tech/
# Turso 데이터베이스 URL
TURSO_DATABASE_URL=libsql://levidb-cheol418.aws-ap-northeast-1.turso.io
# Turso 데이터베이스 인증 토큰 (EdDSA 형식)
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODAzOTQzODEsImlkIjoiMDE5ZTg3YmEtODEwMS03OGVmLTk1NGItZWRhOTg2ZmU0Y2M4IiwicmlkIjoiZmEwZmYzZGEtYTJkOS00ODc0LWIyZTAtY2YyZWQ0ODVhNWRmIn0.i0s7xbDxRnKEpYuoQ12k73dZeR3cwCc9jUICycWoaNm9jYaP5jUB0kDvxQ2pRRN0xyB9iZqwkdmxs2pDPI6jCA
